<div id="cursor-container">
    <div id="cursor-outer"></div>
    <div id="cursor-effect"></div>
</div>
<!-- 尾部脚本 -->
<script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
        t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "bdwnhd5bw9");
</script>
<script src="https://assets.tnxg.whitenuo.cn/blog-file/assets/js/cursor.js"></script>
<script src="https://s-cd-1806-tnxg-oss-cdn.oss.dogecdn.com/npm/qexo-static@1.4.0/hexo/statistic/statistic.js"></script>
<script src="https://tnxg.loyunet.cn/assets/js/message.js"></script>
<script>
    loadStatistic("https://qexo.prts.top");
    getdata();
    getnotice();
</script>