<span id="tnxg_swloading"><!-- 占位符好看么？ --></span>
<script>
    (async () => {
        if ('serviceWorker' in navigator) {
            if (Number(window.localStorage.getItem('TNXGBlogSWSet')) < 1) {
                window.localStorage.setItem('TNXGBlogSWSet', 1)
                window.stop()
                const replacehtml = await fetch('https://npm.elemecdn.com/tnxg-resource@0.0.2/pages/swinstall.html')
                document.getElementById("tnxg_swloading").innerHTML = await replacehtml.text()
            }
            navigator.serviceWorker.register(`/sw.js?time=${new Date().getTime()}`)
                .then(async () => {
                    if (Number(window.localStorage.getItem('TNXGBlogSWSet')) < 2) {
                        setTimeout(() => {
                            window.localStorage.setItem('TNXGBlogSWSet', 2)
                            window.location.reload()
                        }, 1500)
                    }
                })
                .catch(err => console.error(`TNXGBlogSWSet:${err}`))
        }
    })()
</script>
<script src="https://npm.elemecdn.com/qexo-static@1.3.0/hexo/statistic/statistic.js"></script>
<script>
    loadStatistic("https://qexo.prts.top");
</script>