.tips {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tips .tipstext {
    visibility: hidden;
    font-size: 10px;
    width: 10em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 9999;
}

.tips:hover .tipstext {
    visibility: visible;
}