<% if (theme.comment.artalk.envid){ %>
<div id="miracle-comments">
  <link href="/assets/css/artalk.css" rel="stylesheet">
  <script src="<%- theme.static_prefix.artalk %>Artalk.min.js"></script>
  <div id="ART_Comments"></div>
  <script>
    var artalk = new Artalk({
      el: '#ART_Comments',
      server: '<%= theme.comment.artalk.envid %>',
      site: '<%= config.title %>',
      //- Zkeq佬提供的图片上传方式
      imgUploader: async (file) => {
        const formData = new FormData()
        let headers = new Headers();
        formData.set('file', file)
        headers.append('Authorization', 'Bearer 1|KFJIr9ahWLj7SYwLDaKCTtd63yoBMSEyZ27FbpAd');
        headers.append('Accept', 'application/json');
        return fetch('https://pic.prts.top/api/v1/upload', {
            method: 'POST',
            headers: headers,
            body: formData,
          })
          .then((resp) => resp.json())
          .then((resp) => resp.data.links.url);
      }
    })
  </script>
</div>
<% } %>