/* 字体 */
@import url("https://blog.tnxg.top/assets/css/font.css");

@font-face {
    src: url("https://assets.tnxg.whitenuo.cn/fonts/HarmonyOS_Sans.woff2") format('woff2');
    font-family: "HarmonyOS_Sans";
}

@font-face {
    src: url("https://assets.tnxg.whitenuo.cn/fonts/ysbth.woff2") format('woff2');
    font-family: "ysbth";
}

@font-face {
    src: url("https://assets.tnxg.whitenuo.cn/fonts/CtrlAstr.woff2") format('woff2');
    font-family: "CtrlAstr";
}

@font-face {
    src: url("https://assets.tnxg.whitenuo.cn/fonts/Gsenochian.woff2") format('woff2');
    font-family: "Gsenochian";
}

@font-face {
    src: url("https://assets.tnxg.whitenuo.cn/fonts/Tevyat.woff2") format('woff2');
    font-family: "Tevyat";
}

@font-face {
    src: url("https://assets.tnxg.whitenuo.cn/fonts/JetBrainsMono.woff2") format('woff2');
    font-family: "JetBrainsMono";
}

.HarmonyOS_Sans {
    font-family: "HarmonyOS_Sans";
}

.CtrlAstr {
    font-family: "CtrlAstr";
}

.ysbth {
    font-family: "ysbth";
}

.Gsenochian {
    font-family: "Gsenochian";
}

.Tevyat {
    font-family: "Tevyat";
}

.JetBrainsMono {
    font-family: "JetBrainsMono";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HarmonyOS_Regular";
}

input,
textarea,
button {
    outline: none;
    background-color: transparent;
    border: 0;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.cntr {
    display: table;
    width: 100%;
    height: 100%;
}

.cntr .cntr-innr {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
}

i {
    margin-top: 10px;
    color: #F08080;
}

a:link {
    color: #66ccff;
    text-decoration: none
}

a:visited {
    color: #66ccff;
    text-decoration: none
}


a:hover {
    color: #ffbb00;
    text-decoration: none
}

/*滚动条样式*/
*::-webkit-scrollbar {
    width: 4px;
    /*height: 4px;*/
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px #ee0000;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #66ccff;
    border-radius: 0;
}

.page {
    min-height: 100vh;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: lighter;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://api.prts.top/v1/img/wallpaper/?type=cdn");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    position: relative;
    max-width: 800px;
    width: 95%;
    padding: 45px 65px;
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
}

.container.result {
    background: rgba(120, 129, 147, 0.3);
    box-shadow: 0 0 10px 0px #333;
    backdrop-filter: blur(10px);
}

h1.title {
    text-align: center;
    margin-bottom: 30px;
}

.search-form {
    text-align: center;
    font-size: 16px;
}

.search-form input {
    border: #e1e1e1 solid 1px;
    border-radius: 50px;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    padding: 15px 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.search-form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #f5f5f5;
}

.search-form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #f5f5f5;
}

.search-form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #f5f5f5;
}

.search-form input:-moz-placeholder {
    /* Firefox 18- */
    color: #f5f5f5;
}

.search-form .search-submit {
    padding: 15px 60px;
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    line-height: 1;
    transition: all 0.3s;
    background: -webkit-gradient(linear, left top, right top, from(#9c51ff), to(#816bff));
    background: -webkit-linear-gradient(90deg, #9c51ff, #816bff);
    background: linear-gradient(90deg, #9c51ff, #816bff);
}

.info {
    border-radius: 10px;
}

.info .info-item {
    padding: 0px;
    display: flex;
    /* line-height: 46px; */
}

.info .info-item ~ .info-item {
    border-top: #e1e1e1 solid 1px;
}

.info .info-item .lable {
    border-right: #e1e1e1 solid 1px;
    width: 120px;
    padding: 12px 20px;
    text-align-last: justify;
}

.info .info-item .value {
    flex: 1;
    padding: 12px 20px;
}

/* 黑幕 */
.heimus,
.heimus rt {
    background-color: #252525
}

span.heimus a.external,
span.heimus a.external:visited,
span.heimus a.extiw,
span.heimus a.extiw:visited {
    color: #252525
}

.heimus,
.heimus a,
a .heimus,
.heimus a.new {
    color: #252525;
    text-shadow: none
}

body:not(.heimus_toggle_on) .heimus:hover,
body:not(.heimus_toggle_on) .heimus:active,
body:not(.heimus_toggle_on) .heimus.off {
    transition: color .13s linear;
    color: white
}

body:not(.heimus_toggle_on) .heimus:hover a,
body:not(.heimus_toggle_on) a:hover .heimus,
body:not(.heimus_toggle_on) .heimus.off a,
body:not(.heimus_toggle_on) a:hover .heimus.off {
    transition: color .13s linear;
    color: lightblue
}

body:not(.heimus_toggle_on) .heimus.off .new,
body:not(.heimus_toggle_on) .heimus.off .new:hover,
body:not(.heimus_toggle_on) .new:hover .heimus.off,
body:not(.heimus_toggle_on) .heimus:hover .new {
    transition: color .13s linear;
    color: #FCC
}
