name: TNXG„ÅÆHexoBlogBuild

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  TZ: Asia/Shanghai

jobs:
  HexoBlogBuild:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
          registry-url: https://registry.npmjs.org/

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Install & Build & Publish
        run: |
          npm install -g hexo-cli
          npm install
          hexo g
          python updata2npm.py
          cd public
          npm publish
          cd ../
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}

      - name: Deploy
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: static
          FOLDER: public
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}