name: TNXGã®HexoBlogBuild

on:
  push:
    branches:
      - master
  watch:
    types: [started]

jobs:
  HexoBlogBuild:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Install & Build
        run: |
          npm install -g hexo-cli
          npm install
          cd themes/yun && npm run build
          cd ../
          hexo g

      - name: Get current date
        id: date
        run: |
          echo "::set-output name=today::$(date +'%Y.%m.%d.%H.%M.%S')"
          echo ${{ steps.date.outputs.today }}
      - name: set package.json
        id: package
        run: |
          echo "::set-output name=string::{\"name\":\"tnxg-blog\",\"version\":\"${{ steps.date.outputs.today }}\",\"author\":\"TNXG\",\"license\":\"TSO-BY\"}"
          echo ${{ steps.package.outputs.string }}

      - name: publish
        run: |
          echo ${{ steps.package.outputs.string }} > package.json
          npm publish
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh_pages

        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}